[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pytest-cov = "*"
better-exceptions = "*"
pre-commit = "*"
coverage = "*"

[packages]
gunicorn = "*"
loguru = "*"
python-dotenv = "*"
requests = "*"
marshmallow = "*"
celery = {extras = ["redis"],version = "*"}
pika = "*"
fastapi = "*"
uvicorn = "*"
pydantic = {extras = ["email"], version = "*"}
starlette = "*"

[requires]
python_version = "3.10"
