apiVersion: v1
kind: Secret
metadata:
  name: email-config
  namespace: comms
type: Opaque
stringData:
  username: <USERNAME>
  password: <PASSWORD>
  host: <HOST>
  smtpport: <SMTPPORT>
  senderEmailName: <SENDEREMAILNAME>
  senderEmailAddress: <SENDEREMAILADDRESS>
  token: <SENDGRID_TOKEN>
  apiUrl: <SENDGRID_API_URL>

---
apiVersion: v1
kind: Secret
metadata:
  name: email-amqp-credentials
type: Opaque
stringData:
  user: <USER>
  password: <PASSWORD>
